input_options:
 run_name: run_small_test
 f3: reads_f3
 r3: reads_r3
 qf3: quals_f3
 qr3: quals_r3
global_options:
 lsf_queue: hptest
 threads: 7
 bfast_bin: /stornext/snfs1/next-gen/drio-scratch/bfast_related/bfast/bfast
 samtools_bin: /stornext/snfs1/next-gen/software/samtools-0.1.6
 space: CS
 fasta_file_name: /stornext/snfs3/drio_scratch/bf.indexes/small/test.fasta
 timing: ON
 logs_dir: ./lsf_logs
 run_dir: /BA_EVAL_01/drio_scratch/bfast/small_test/input
 reads_dir: /BA_EVAL_01/drio_scratch/bfast/small_test/reads
 output_dir: /BA_EVAL_01/drio_scratch/bfast/small_test/output
 tmp_dir: /space1/tmp/
 output_id: output_id_like_test_drio
 reads_per_file: 50000
match_options:
 threads: 8
 lsf_resources: "rusage[mem=2800]span[hosts=1]"
local_options:
 threads: 8
 lsf_resources: "rusage[mem=2800]span[hosts=1]"
post_options:
 algorithm: 4
 lsf_resources: "rusage[mem=400]"
tobam_options:
 lsf_resources: "rusage[mem=400]"
final_options:
 lsf_resources: "rusage[mem=400]"
